marker-icon.png
template.png
markers/baseline_account_balance_white_24dp.png
markers/baseline_attach_money_white_24dp.png
markers/baseline_build_white_24dp.png
markers/baseline_clear_white_24dp.png
markers/baseline_directions_car_white_24dp.png
markers/baseline_home_white_24dp.png
markers/baseline_local_gas_station_white_24dp.png
markers/baseline_local_police_white_24dp.png
markers/baseline_remove_white_24dp.png
markers/baseline_store_white_24dp.png
